body{
    background-color: black;
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}
.hidden {
  opacity: 0;
  transition: opacity 5s ease;
}

.visible {
  opacity: 1;
}